body {
  margin: 0;
  padding: 0;
  background: url('background.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.title {
  width: 70%;
  max-width: 2000px;
  height: auto;
  margin-top: 30px;   
  margin-bottom: 20px; 
}


.button-container {
  display: flex;
  gap: 30px;
  position: relative;
  top: -70px;  /* move buttons up */
}

.menu-btn {
  width: 800px;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s;
}

.menu-btn:hover {
  transform: scale(1.1);
}

audio {
  display: none;
}








